<style>
  body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    font-size: 2em;
  }
</style>

<main>
  <a href={~p"/wither"}>🥀</a>
  <a href={~p"/dissolve"}>🫠</a>
</main>
